// Variables

// Color system

$wagerr-red-light: #e10101;
$wagerr-red:       #b40101;
$wagerr-red-dark:  #870000;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$success: #28a745;

// Backgrounds

$bg-gradient-black-half:    rgba(0, 0, 0, 0.5);
$bg-gradient-black-quarter: rgba(0, 0, 0, 0.25);
