// Mainnet Wagerr Colors
$wagerr_red: #b40101;
$wagerr_dark_red: #860000;
$brightred: #d00;
$dark_grey: #2b2c2d;
$light_grey: #dadada;
$grey: #777;
$white: #fff;
$halfblack: rgba(0, 0, 0, 0.4);
$quarterblack: rgba(0, 0, 0, 0.2);
$black: #000;

// Misc Colors
$success-green: #4bb543;
