// Import scss files so we can use here...
@import 'variables';
@import 'fonts';

html{

}

body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#app{

}

.wrapper{
    background-color: #fff;
}

.second-nav li {
    list-style: none;
    display: block;
}

.second-nav ul li button {
    background-color: $wagerr_red;
    border: none;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.router-link {
    color: $wagerr_dark_red;
}

.btn:active{
    background-color: $dark_grey;
}

a.wallet-action {
    width: 120px;
}

.second-nav ul li button:hover {
    background-color: $wagerr_dark_red;
}

.second-nav ul li button:active {
    background-color: $dark_grey;
}

.second-nav ul li button:visited {
    background-color: $dark_grey;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.inset-top {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.inset-top div {
    background-color: #1D1D1E	;
    height: 18px;
    -moz-border-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.12);
    box-shadow:         inset 0 0 10px rgba(0,0,0,0.12);
}

.bg-gradient {
    background: -webkit-linear-gradient(to left bottom,#2b2c2d, #191919); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to left bottom,#2b2c2d, #191919); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to left bottom,#2b2c2d, #191919); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left bottom,#2b2c2d, #191919); /* Standard syntax */
}

.inner-circle{
    display:inline-block;   /* add this */
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: $wagerr_dark_red;
    background-color: rgba(0, 0, 0, 0);
}

.inner-circle:hover{
    border-color: $wagerr_red;
}

.circle-icon{
    float: left;
    width: 63px;
    margin: 18px;
}

.circle-icon:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.circle-icon-link{
    font-size: 1.5em;
    color: $wagerr_red;
}

.circle-icon-link i.far{
    font-size: 1.2em;
    border-radius: 60px;
    padding: 17px;
    margin-top: -2px;
    color: grey;
}

.circle-icon-link i.fas{
    font-size: 1.2em;
    border-radius: 60px;
    padding: 17px;
    color: grey;
}

.circle-icon-link i.far:hover, .circle-icon-link i.fas:hover{
    color: white;
}

/** Main table styles **/
.main-table {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

.main-table thead {
    color: $wagerr_red;
    background-color: $dark_grey;
}

.main-table  td, .main-table th {
    padding: 15px;
    border-radius: 0;
}

.main-table tr:nth-child(odd) {
    background-color: #eee;
}

.main-table th {
    font-size: 1.2em;
    color: $wagerr_red;
    background-color: $dark_grey;
    border-top: none;
}

.main-table  td:first-child, .main-table th:first-child {
   border-left: none;
}
/** End main table **/

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.text-center {
    text-align:center;
}

.text-right {
    text-align:right;
}

.text-left {
    text-align:left;
}

.pull-right {
    float:right;
}

.pull-left {
    float:left;
}

.clear {
    clear:both;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.side-nav li{
    width: 100%
}

.side-nav li div i{
    padding-top:16px;
    font-size: 23px;
}

.side-nav li .parent a{
    padding: 0px;
}

.modal-open {
    overflow-y: auto
}

.team-font{
    font-size: 1.2em;
    color: $dark_grey;
}

// Styling the error toast popups
.toast-error{
    color: $wagerr_red;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.toast-error > .toast-bold{
    font-weight: bold;
    color: #a94442;
}

.toast-error > .toast-text {
    color: #a94442;
}

.toast-error > .toast-action span{
    color: #a94442;
}

.toast__bold-font{
    font-weight: bold;
}

.form-error{
    color: $wagerr_red;
}

.wagerr-red{
    color: $wagerr_red;
}

.wagerr-white{
    color: #fff;
}

.wagerr-red-bg{
    background-color: $wagerr_red;
}

.wagerr-red-bg:hover{
    background-color: $wagerr_red;
}

.modal-content{
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.modal .modal-header{
    color: $wagerr_red;
}

.modal .modal-header, .modal .modal-text{
    padding-left: 10px;
    padding-right: 10px;
}

.modal > form > .modal-footer{
    padding-left: 35px;
    padding-right: 35px;
}

.modal-content{
    color: white;
}

.dropdown-content{
    background-color: $dark_grey;
}

.dropdown-content li  a {
    color: white;
}

.dropdown-content li a i {
    color: $wagerr_red;
    font-size: 1.3em;
}

.dropdown-content li:hover{
    background-color: rgba(0,0,0,0.1);
}

.tabs .indicator{
    border-bottom: 1px solid $wagerr_red;
    background-color: transparent;
}

.input-field > .active {
    color: $wagerr_red !important;
}

.input-field .prefix{
    font-size: 20px !important;
    margin-top: 10px !important;
    color: $wagerr_dark_red !important;
}

.input-field input{
    color: #fff;
}

.input-field input:focus {
    color: #fff;
}

.input-field .prefix{
    font-size: 20px;
    margin-top: 10px;
    color: $wagerr_dark_red;
}

.input-field label {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

.input-field input:not([type]):focus:not([readonly]), .input-field input[type=text]:not(.browser-default):focus:not([readonly]), .input-field input[type=password]:not(.browser-default):focus:not([readonly]), .input-field input[type=email]:not(.browser-default):focus:not([readonly]), .input-field input[type=url]:not(.browser-default):focus:not([readonly]), .input-field input[type=time]:not(.browser-default):focus:not([readonly]), .input-field input[type=date]:not(.browser-default):focus:not([readonly]), .input-field input[type=datetime]:not(.browser-default):focus:not([readonly]), .input-field input[type=datetime-local]:not(.browser-default):focus:not([readonly]), .input-field input[type=tel]:not(.browser-default):focus:not([readonly]), .input-field input[type=number]:not(.browser-default):focus:not([readonly]), .input-field input[type=search]:not(.browser-default):focus:not([readonly]), .input-field textarea.materialize-textarea:focus:not([readonly]) {
    color: white;
    border-bottom: 1px solid $wagerr_red;
    -webkit-box-shadow: 0 1px 0 0 $wagerr_red;
    box-shadow: 0 1px 0 0 $wagerr_red;
}

.input-field .prefix{
    font-size: 20px;
    margin-top: 10px;
    color: $wagerr_dark_red;
}

/* Time loader animation */
@-moz-keyframes timer-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes timer-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes timer-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.timer-loader:not(:required) {
    padding: 0;
    margin: -10px;
    transform: scale(.6);
    border: 6px solid orangered;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 48px;
    height: 48px;
}

.timer-loader:not(:required)::before {
    -moz-animation: timer-loader 1250ms infinite linear;
    -webkit-animation: timer-loader 1250ms infinite linear;
    animation: timer-loader 1250ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background: orangered;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 19.2px;
    left: 15px;
    top: 15px;
}

.timer-loader:not(:required)::after {
    -moz-animation: timer-loader 15000ms infinite linear;
    -webkit-animation: timer-loader 15000ms infinite linear;
    animation: timer-loader 15000ms infinite linear;
    -moz-transform-origin: 3px 3px;
    -ms-transform-origin: 3px 3px;
    -webkit-transform-origin: 3px 3px;
    transform-origin: 3px 3px;
    background: orangered;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 16px;
    left: 15px;
    top: 15px;
}
