@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700);
@import url(../css/icons.css);
body { padding: 0; font-family: 'Open Sans', sans-serif; }

#app { height: 100vh; }

.fade-enter-active, .fade-leave-active { transition-duration: 0.3s; transition-property: opacity; transition-timing-function: ease; }

.fade-enter, .fade-leave-active { opacity: 0; }

.wrapper { background-color: #dadada; }

.wrapper .nav { height: 90px; }

.content { padding: 20px 10px; min-height: calc(100vh - 90px); margin-bottom: 0; }

.but { color: #fff; display: block; background: #B40101; text-align: center; line-height: 24px; font-size: 18px; line-height: 24px; padding: 8px 20px; border: none; border-radius: 4px; cursor: pointer; font-family: 'Montserrat'; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; }

.but:hover, .but:focus { background: #860000; }

.btn { color: #fff; background: #B40101; font-family: 'Montserrat'; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; transition: none; }

.btn:hover, .btn:focus { background: #860000; box-shadow: inherit; }

.btn-large { color: #fff; background: #B40101; font-family: 'Montserrat'; font-weight: 700; letter-spacing: 1px; text-transform: uppercase; transition: none; }

.btn-large:hover, .btn-large:focus { background: #860000 !important; box-shadow: inherit; }

h4 { font-weight: 700; font-family: 'Montserrat'; font-size: 28px; color: #2b2c2d; margin-bottom: 25px; line-height: 30px; }

h4 + p { margin-top: -10px; font-size: 14px; line-height: 20px; margin-bottom: 20px; }

table.z-depth-2, .no-transactions { box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.2); }

/* Header */
header { color: #fff; width: 100%; position: fixed; top: 0px; left: 0px; z-index: 999; height: 90px; background-image: url(../images/bg-header.png); background-position: center center; background-repeat: no-repeat; background-size: cover; background-color: #B40101; }

header .wagerr-logo { height: 50px; background-image: url(../images/logo-header.svg); background-position: center center; background-repeat: no-repeat; background-size: contain; float: left; margin: 20px 0 0 0; width: 200px; filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3)); }

header .wagerr-balance { margin: 25px 25px 0 0; }

header .wagerr-balance #wagerr-total-balance { background-color: rgba(0, 0, 0, 0.4); display: inline-block; padding: 10px 15px; font-weight: 600; color: #fff; font-size: 16px; letter-spacing: 0.3px; }

header .wagerr-balance i { margin-left: 10px; cursor: pointer; font-weight: bold; }

header ul { margin: 0px; padding: 0px; }

header ul li { display: block; float: left; list-style: none; font-size: 28px; padding: 12px 20px 10px 20px; cursor: pointer; text-align: center; height: 90px; position: relative; width: 125px; }

header ul li:hover { background-color: rgba(0, 0, 0, 0.2); }

header ul li.router-link-active { background-color: rgba(0, 0, 0, 0.4); }

header ul li i { cursor: pointer; font-size: 26px; }

header ul li i:before { cursor: pointer; }

header ul li h6 { font-size: 12px; margin: 5px 0 0; }

header ul li .title { display: block; text-align: center; text-transform: uppercase; color: #fff; font-size: 12px; padding-top: 5px; }

header ul li .dropdown-content { position: absolute; top: 90px !important; left: 0 !important; }

header ul li .dropdown-content li { display: block; float: left; list-style: none; font-size: 28px; padding: 15px 20px 10px 20px; cursor: pointer; min-height: auto; height: auto; }

header ul li .dropdown-content li a { text-align: left; font-size: 13px; padding: 8px 16px; }

header ul li .dropdown-content li a:hover { background-color: rgba(0, 0, 0, 0.4); }

header ul li .dropdown-content li a i { margin: 0 8px 0 0 !important; color: #B40101; font-weight: 600; }

#betting .betting-sidebar-container { padding-top: 0px; font-size: 0; background-image: url(../images/bg-vector-black-d50.png); background-position: left bottom; background-repeat: no-repeat; background-size: cover; width: 200px; height: calc(100% - 90px); position: fixed; box-sizing: border-box; margin: -20px 0 0 -10px; }

#betting .betting-sidebar-container .sidebar-branding { background-image: url(../images/logo-sidenav-footer.svg); background-position: center bottom; background-repeat: no-repeat; background-size: contain; width: 80%; margin: 0 10%; height: 100px; position: absolute; bottom: 10px; }

#betting .betting-sidebar-container nav { width: 200px; background: transparent; position: relative; top: auto; left: auto; height: auto; padding-top: 0px; box-shadow: none; }

#betting .betting-sidebar-container .betting-types { padding-top: 20px; }

#betting .betting-sidebar-container .betting-types ul { width: calc(100%-27px); margin-left: 27px; }

#betting .betting-sidebar-container .betting-types ul li { border-top: none; border-left: 3px solid transparent; padding: 0; margin: 0; display: block; width: 100%; }

#betting .betting-sidebar-container .betting-types ul li a { font-size: 14px; font-weight: 600; padding: 4px 0 4px 20px; color: #fff; text-transform: none; display: block; }

#betting .betting-sidebar-container .betting-types ul li a:hover { background-color: #B40101; }

#betting .betting-sidebar-container .betting-types ul li.router-link-active a { background-color: #B40101; }

#betting .betting-sidebar-container ul.side-nav h5 { padding-top: 10px; }

#betting .betting-sidebar-container ul.side-nav > li { border-top: none; border-left: 3px solid transparent; }

#betting .betting-sidebar-container ul.side-nav > li a { font-size: 15px; font-weight: 600; padding: 6px 0; }

#betting .betting-sidebar-container ul.side-nav > li a i { font-weight: 600; width: 44px; padding: 0; margin: 0; display: inline-block; text-align: center; height: auto; color: #777777; font-size: 18px; }

#betting .betting-sidebar-container ul.side-nav > li a i.icon-chevron-down { font-size: 14px; padding-top: 3px; display: none; }

#betting .betting-sidebar-container ul.side-nav > li a i.icon-chevron-down:before { font-weight: 700; }

#betting .betting-sidebar-container ul.side-nav > li a span { font-size: 14px; font-weight: 600; letter-spacing: 0.5px; padding: 0; margin: 0; }

#betting .betting-sidebar-container ul.side-nav > li:hover, #betting .betting-sidebar-container ul.side-nav > li.open, #betting .betting-sidebar-container ul.side-nav > li.on { background-color: #000000; border-left: 3px solid #DD0000; cursor: pointer; }

#betting .betting-sidebar-container ul.side-nav > li:hover i, #betting .betting-sidebar-container ul.side-nav > li.open i, #betting .betting-sidebar-container ul.side-nav > li.on i { color: #DD0000; }

#betting .betting-sidebar-container ul.side-nav > li.open a { padding-bottom: 6px; }

#betting .betting-sidebar-container ul.side-nav > li .bet-dropdown { display: block; padding-left: 50px; padding-bottom: 5px; }

#betting .betting-sidebar-container ul.side-nav > li .bet-dropdown li { float: none; padding: 0; line-height: 12px; }

#betting .betting-sidebar-container ul.side-nav > li .bet-dropdown li span { font-size: 13px; font-weight: 600; color: #777777; }

#betting .betting-sidebar-container ul.side-nav > li .bet-dropdown li:hover span { color: #DD0000; }

#betting .betting-sidebar-container h5 { font-size: 11px; font-weight: 700; color: #DD0000; text-transform: uppercase; padding-left: 50px; letter-spacing: 1px; }

#betting .betting-main { margin-left: 200px; position: relative; }

#betting .betting-main .betting-nav { background: #fff; margin: -10px -10px 0 -10px; width: calc(100% + 20px); }

#events h4 { font-weight: 700; font-family: 'Montserrat'; font-size: 28px; color: #2b2c2d; margin-bottom: 25px; line-height: 30px; }

#events .events-list .card { border: none; border-radius: 4px; box-shadow: 0 0px 12px 0px rgba(0, 0, 0, 0.2); margin-bottom: 20px; overflow: hidden; }

#events .events-list .card .event-tournament { background: #B40101; color: #fff; border: none; font-family: 'Montserrat'; font-weight: 700; padding: 10px 0 8px; font-size: 14px; line-height: 20px; }

#events .events-list .card .event-tournament .sport { padding-left: 10px; }

#events .events-list .card .event-tournament .date { padding-right: 10px; }

#events .events-list .card .event-details > div:first-child { background-color: #860000; height: 28px; }

#events .events-list .card .event-details .event-headers { background-color: #860000; margin: 0; padding: 0; }

#events .events-list .card .event-details .event-headers .event-header { background-color: transparent; background-color: #860000; font-family: 'Montserrat'; font-size: 11px; line-height: 20px; padding: 4px 0; font-weight: 600; height: 28px; margin-bottom: 0; }

#events .events-list .card .event-details .event-headers .event-header div { background-color: transparent; }

#events .events-list .card .event-pair { margin: 0; }

#events .events-list .card .event-pair .event-teams { margin: 10px 0; }

#events .events-list .card .event-pair .event-teams .teams { height: 50px; margin: 0; display: table-row; width: 100%; }

#events .events-list .card .event-pair .event-teams .teams .team-name { font-size: 16px; line-height: 20px; font-weight: 700; color: #2b2c2d; height: 50px; margin: 0; display: table-cell; vertical-align: middle; width: 100%; line-height: 18px; }

#events .events-list .card .event-pair .event-odds { margin: 10px 0; padding: 0; }

#events .events-list .card .event-pair .event-odds .event-odds-row { margin: 0; }

#events .events-list .card .event-pair .event-odds .event-odd { margin: 0; }

#events .events-list .card .event-pair .odds { margin: 0; }

#events .events-list .card .event-pair .odds .odd { height: 50px; margin: 0; display: inline-block; vertical-align: middle; width: 100%; }

#events .events-list .card .event-pair .odds .ml { height: 50px; margin: 0; display: inline-block; vertical-align: middle; width: 100%; }

#events .events-list .card .event-pair .odds .spread { height: 50px; margin: 0; display: inline-block; vertical-align: middle; width: 100%; }

#events .events-list .card .event-pair .odds .total { height: 50px; margin: 0; display: inline-block; vertical-align: middle; width: 100%; }

#events .events-list .card .event-pair .odds > div button { margin-top: 5px; height: 40px; border: 4px; background-color: #e9e9e9; position: relative; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); border: 1px solid #bebebe; color: #555; font-weight: 700; letter-spacing: 0.5px; font-family: 'Montserrat'; font-size: 14px; }

#events .events-list .card .event-pair .odds > div button:hover { color: #fff; border: 1px solid #860000; background: #DD0000; }

#events .events-list .card .event-pair .odds > div button:hover:before { opacity: 0.3; }

#events .events-list .card .event-pair .odds > div button:hover:after { opacity: 0.3; }

#events .events-list .card .event-pair .odds > div button:before { content: ''; background-image: url(../images/bumps.svg); background-position: center center; background-repeat: no-repeat; width: 14px; height: 26px; position: absolute; left: 3px; top: 7px; opacity: 0.1; }

#events .events-list .card .event-pair .odds > div button:after { content: ''; background-image: url(../images/bumps.svg); background-position: center center; background-repeat: no-repeat; width: 14px; height: 26px; position: absolute; right: 3px; top: 7px; opacity: 0.1; }

#events .events-list .card .event-pair .odds > div button[disabled=disabled] { box-shadow: none; background-color: #f3f3f3 !important; border: none; }

#events .events-list .card .event-pair .odds > div button[disabled=disabled]:before { opacity: 0; }

#events .events-list .card .event-pair .odds > div button[disabled=disabled]:after { opacity: 0; }

.bet-slip-div { margin-top: 25px; }

.bet-slip-div #betting-slip { background: #fff; position: fixed; top: 120px; width: calc(25% - 3.5rem); height: calc(100vh - 120px); right: 0; }

.bet-slip-div #betting-slip .bet-list-scroll { height: calc(100% - 25px); overflow-y: scroll; }

.bet-slip-div #betting-slip h4 { margin-bottom: 0px; margin-top: 0; line-height: 30px; background: #2b2c2d; color: #fff; border: none; font-family: 'Montserrat'; font-weight: 700; padding: 10px 10px 8px; font-size: 15px; line-height: 20px; text-transform: uppercase; /*border-radius:4px 4px 0 0;*/ letter-spacing: 1px; position: relative; }

.bet-slip-div #betting-slip h4 button { background: #B40101; color: #fff; height: 24px; line-height: 24px; position: absolute; top: 7px; right: 10px; font-size: 11px; font-family: "Montserrat"; font-weight: 700; padding: 0 10px; }

.bet-slip-div #betting-slip h4 button:hover { background: #860000; }

.bet-slip-div #betting-slip .bet-list { background: #fff; padding: 10px; }

.bet-slip-div #betting-slip .bet-list ul { margin: 0; padding: 0; }

.bet-slip-div #betting-slip .bet-list ul li.card { background: transparent; color: #2b2c2d; padding: 0 0 10px; box-shadow: none; border: 2px solid #B40101; margin: 0 0 15px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details { padding: 0; position: relative; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-slip-pair { color: #fff; background: #B40101; font-family: "Montserrat"; font-weight: 700; text-align: left; padding: 6px 40px 6px 10px; width: 100%; font-size: 12px; line-height: 16px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .clear-bet { color: #fff; position: absolute; top: -2px; right: -2px; width: 30px; height: 30px; display: block; background: #B40101; text-align: center; line-height: 30px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .clear-bet:hover { background: #860000; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .clear-bet i { font-weight: 700; cursor: pointer; font-size: 24px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .selection { color: #2b2c2d; font-weight: 700; padding: 10px 10px 10px; font-size: 14px; font-family: "Montserrat"; color: #B40101; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .selection h6 { color: #aaa; font-size: 9px; text-align: center; width: 100%; text-transform: uppercase; letter-spacing: 1px; font-family: "Open Sans"; font-weight: 600; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .selection .winner { display: block; text-align: center; float: none; font-size: 18px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .selection .odds { display: inline-block; text-align: center; float: none; width: 60%; background: #eee; margin: 5px 20% 0; padding: 4px 0; border-radius: 4px; letter-spacing: 1px; color: #2b2c2d; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container { color: #2b2c2d; padding: 0px; display: flex; justify-content: center; margin-bottom: 0; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-input { width: 120px; position: relative; margin-right: 0px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-input label { left: 0px; top: 0px; position: absolute; color: #2b2c2d; font-size: 14px; font-family: "Open Sans"; font-weight: 600; text-align: center; width: 100%; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-input input { color: #2b2c2d; font-family: "Open Sans"; font-size: 18px; font-weight: 700; text-align: center; width: 120px; background: #eee; margin-bottom: 0; height: 33px; box-shadow: 0 1px 0 0 #777777; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ font-size: 13px; font-weight: 600; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-input input::-moz-placeholder { /* Firefox 19+ */ font-size: 13px; font-weight: 600; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-input input:-ms-input-placeholder { /* IE 10+ */ font-size: 13px; font-weight: 600; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-input input:-moz-placeholder { /* Firefox 18- */ font-size: 13px; font-weight: 600; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-stake-container .stake-button button { border-radius: 0px; height: 35px; line-height: 35px; box-shadow: none; padding-top: 2px; font-weight: 700; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-returns { color: #2b2c2d; padding: 5px 10px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-returns .potential-returns-headline { float: none; text-align: center; display: block; color: #2b2c2d; font-size: 13px; font-family: "Open Sans"; font-weight: 800; margin-bottom: 2px; }

.bet-slip-div #betting-slip .bet-list ul li.card .bet-details .bet-returns .potential-returns { float: none; text-align: center; display: block; color: #B40101; font-size: 12px; font-family: "Open Sans"; font-weight: 700; letter-spacing: 0.5px; }

#wallet .wallet-container .wallet-left { position: -webkit-sticky; position: sticky; top: 110px; }

#wallet .wallet-container .wallet-left .wallet-balance { width: 100%; color: #B40101; margin-left: auto; margin-right: auto; margin-bottom: 0; border-radius: 4px; padding: 40px; background-image: url(../images/bg-vector-black-d40.png); background-position: center bottom; background-repeat: no-repeat; background-size: cover; }

#wallet .wallet-container .wallet-left .wallet-balance h1 { margin-top: 0px; margin-bottom: 10px; font-family: "Montserrat"; font-weight: 700; font-size: 24px; color: #B40101; letter-spacing: 2px; text-align: center; text-transform: uppercase; }

#wallet .wallet-container .wallet-left .wallet-balance h1 span { display: block; width: 60%; margin: 0 auto 10px; height: 70px; background-image: url(../images/wgrWordsWhite.svg); background-position: center bottom; background-repeat: no-repeat; background-size: contain; }

#wallet .wallet-container .wallet-left .wallet-balance .dashboard-balance { padding-top: 30px; padding-bottom: 10px; }

#wallet .wallet-container .wallet-left .wallet-balance .dashboard-balance div { color: #dadada; font-size: 16px; font-weight: 500; line-height: 28px; letter-spacing: 1px; }

#wallet .wallet-container .wallet-left .wallet-balance .dashboard-balance .total-balance { font-size: 26px; font-weight: 700; color: #fff; padding: 25px 20px; width: 100%; display: block; border-radius: 4px; background: #111; margin-bottom: 30px; line-height: 36px; letter-spacing: 0.5px; }

@media screen and (max-width: 1450px) { #wallet .wallet-container .wallet-left .wallet-balance .dashboard-balance .total-balance { font-size: 22px; font-weight: 600; padding: 15px 10px; letter-spacing: 0.25px; } }

#wallet .wallet-container .wallet-left .wallet-btns { margin-top: 30px; margin-bottom: 20px; }

#wallet .wallet-container .wallet-left .wallet-btns a { margin: 0 0 0 10px; width: 42%; padding-left: 0; padding-right: 0px; }

#wallet .wallet-container .wallet-left .wallet-btns a:first-child { margin: 0; }

#wallet .wallet-container .wallet-right .wagerr-transactions { width: 100%; }

.main-table { width: 100%; border-collapse: collapse; border-radius: 4px; table-layout: auto; overflow: hidden; }

.main-table thead { background: #B40101; border-radius: 0; }

.main-table thead tr { border-radius: 0; }

.main-table thead tr th { color: #fff; text-align: left; font-family: "Open Sans"; font-weight: 700; font-size: 12px; line-height: 18px; padding: 8px 10px; vertical-align: top; border-radius: 0; }

.main-table tbody tr:nth-child(odd) { background-color: #eee; }

.main-table tbody tr td { color: #2b2c2d; text-align: left; font-family: "Open Sans"; font-weight: 600; font-size: 12px; line-height: 18px; padding: 10px !important; vertical-align: top; }

.main-table tbody tr td.confirmations { text-align: center; }

.main-table tbody tr td .transaction-list-link { display: inline-block; padding: 5px; margin-right: 5px; }

.no-transactions { width: 100%; background: #fff; border-radius: 4px; text-align: center; display: block; padding: 20px 0px; border-top: 34px solid #B40101; margin-top: 8px; font-size: 12px; font-weight: 600; }

.no-transactions p a:hover { text-decoration: underline; }

#bets h4 { font-weight: 700; font-family: 'Montserrat'; font-size: 28px; color: #2b2c2d; margin-bottom: 25px; line-height: 30px; }

.splash { padding-top: 4%; margin: auto; width: 50%; color: white; }

.splash .splash-image { background-image: url(../images/wgrsecondaryWhite.svg); background-position: center bottom; background-repeat: no-repeat; background-size: contain; width: 100%; height: 300px; margin-bottom: 0; }

.splash .version { font-size: 16px; font-weight: 600; color: #666; text-align: center; letter-spacing: 2px; margin-bottom: 4%; }

.splash .splash-loading-container { margin-top: 30px; }

.splash .slider { width: 100%; height: 4px; margin-top: -30px; }

.splash .line { position: absolute; background: #B40101; width: 100%; height: 4px; }

.splash .break { position: absolute; background: #222; width: 6px; height: 4px; }

.splash .dot1 { -webkit-animation: loading 4s infinite; animation: loading 4s infinite; }

.splash .dot2 { -webkit-animation: loading 4s 0.5s infinite; animation: loading 4s 0.5s infinite; }

.splash .dot3 { -webkit-animation: loading 4s 1s infinite; animation: loading 4s 1s infinite; }

@-webkit-keyframes loading { from { left: 0; }
  to { left: 100%; } }

@keyframes loading { from { left: 0; }
  to { left: 100%; } }

.splash .splash-wallet-repair { margin-top: 20px; }

.splash .splash-wallet-repair div a { color: #B40101; font-weight: bold; font-size: 18px; line-height: 32px; }

.splash .splash-wallet-repair div a:hover { text-decoration: underline; }

#chain-games .chain-container .chain-left { position: -webkit-sticky; position: sticky; top: 110px; }

#chain-games .chain-container .chain-left .cg-lotto-info { width: 100%; color: #B40101; margin-left: auto; margin-right: auto; margin-bottom: 0; border-radius: 4px; padding: 40px; background-image: url(../images/bg-vector-black-d40.png); background-position: center bottom; background-repeat: no-repeat; background-size: cover; position: relative; }

@media screen and (max-width: 1450px) { #chain-games .chain-container .chain-left .cg-lotto-info { padding: 25px; } }

#chain-games .chain-container .chain-left .cg-lotto-info .chain-info { position: absolute; top: 20px; right: 20px; margin: 0; font-size: 24px; color: #B40101; cursor: pointer; font-weight: 500; }

#chain-games .chain-container .chain-left .cg-lotto-info h2 { margin-top: 0px; margin-bottom: 20px; font-family: "Montserrat"; font-weight: 700; font-size: 24px; color: #B40101; letter-spacing: 2px; text-align: center; text-transform: uppercase; }

@media screen and (max-width: 1450px) { #chain-games .chain-container .chain-left .cg-lotto-info h2 { font-size: 20px; margin-bottom: 10px; } }

#chain-games .chain-container .chain-left .cg-lotto-info h2 span { display: block; width: 60%; margin: 0 auto 10px; height: 70px; background-image: url(../images/wgrWordsWhite.svg); background-position: center bottom; background-repeat: no-repeat; background-size: contain; }

#chain-games .chain-container .chain-left .cg-lotto-info .cg-jackpot { font-size: 50px; font-weight: 700px; font-family: "Montserrat"; color: white; letter-spacing: 1px; }

#chain-games .chain-container .chain-left .cg-lotto-info .all-stats { padding: 25px 20px; width: 100%; display: block; border-radius: 4px; background: #111; margin: 20px 0; overflow: hidden; }

@media screen and (max-width: 1450px) { #chain-games .chain-container .chain-left .cg-lotto-info .all-stats { padding: 20px 5px; } }

#chain-games .chain-container .chain-left .cg-lotto-info .all-stats .stats { padding-top: 10px; padding-bottom: 10px; }

#chain-games .chain-container .chain-left .cg-lotto-info .all-stats .stats h6 { font-family: "Montserrat"; font-weight: 700; font-size: 14px; color: #B40101; }

@media screen and (max-width: 1450px) { #chain-games .chain-container .chain-left .cg-lotto-info .all-stats .stats h6 { font-size: 12px; } }

#chain-games .chain-container .chain-left .cg-lotto-info .all-stats .stats .cg-info { color: #fff; font-size: 32px; font-weight: 600; line-height: 28px; }

@media screen and (max-width: 1450px) { #chain-games .chain-container .chain-left .cg-lotto-info .all-stats .stats .cg-info { font-size: 26px; } }

#chain-games .chain-container .chain-left .cg-lotto-info .all-stats .stats:not(:last-child) { border-right: 2px solid #222; }

#chain-games .chain-container .chain-left .cg-lotto-info .cg-dates { font-family: "Montserrat"; font-weight: 600; font-size: 16px; letter-spacing: 1px; color: #fff; padding: 0; }

@media screen and (max-width: 1450px) { #chain-games .chain-container .chain-left .cg-lotto-info .cg-dates { font-size: 14px; } }

#chain-games .chain-container .chain-left .chain-btns { margin-top: 50px; margin-bottom: 10px; }

#chain-games .chain-container .chain-left .chain-btns a { margin: 0 0 0 10px; width: 42%; padding-left: 0; padding-right: 0px; }

#chain-games .chain-container .chain-left .chain-btns a:first-child { margin: 0; }

#chain-games .chain-container .chain-right .chain-transactions { width: 100%; }

#tools .tools-sidebar-container { padding-top: 0px; font-size: 0; background-image: url(../images/bg-vector-black-d50.png); background-position: left bottom; background-repeat: no-repeat; background-size: cover; width: 200px; height: calc(100% - 90px); position: fixed; box-sizing: border-box; margin: -20px 0 0 -10px; }

#tools .tools-sidebar-container .sidebar-branding { background-image: url(../images/logo-sidenav-footer.svg); background-position: center bottom; background-repeat: no-repeat; background-size: contain; width: 80%; margin: 0 10%; height: 100px; position: absolute; bottom: 10px; }

#tools .tools-sidebar-container nav { width: 200px; background: transparent; position: relative; top: auto; left: auto; height: auto; padding-top: 0px; box-shadow: none; }

#tools .tools-sidebar-container .tools-types { padding-top: 20px; }

#tools .tools-sidebar-container .tools-types ul { width: calc(100%-27px); margin-left: 27px; }

#tools .tools-sidebar-container .tools-types ul li { border-top: none; border-left: 3px solid transparent; padding: 0; margin: 0; display: block; width: 100%; }

#tools .tools-sidebar-container .tools-types ul li a { font-size: 14px; font-weight: 600; padding: 4px 0 4px 20px; color: #fff; text-transform: none; display: block; }

#tools .tools-sidebar-container .tools-types ul li a:hover { background-color: #B40101; }

#tools .tools-sidebar-container h5 { font-size: 11px; font-weight: 700; color: #DD0000; text-transform: uppercase; padding-left: 50px; letter-spacing: 1px; }

#tools .tools-main { margin-left: 200px; position: relative; }

#tools .tools-main .tools-nav { background: #fff; margin: -10px -10px 0 -10px; width: calc(100% + 20px); }

#information .info-block table thead th { text-align: center; font-size: 18px; }

#information .info-block table tbody th { padding: 10px 15px; font-size: 16px; line-height: 20px; vertical-align: top; }

#information .info-block table tbody td { padding: 10px 15px !important; font-size: 14px; line-height: 20px; text-align: right; vertical-align: top; }

#wallet-repair button { width: 250px; }

#wallet-repair li { font-size: 14px; display: flex; margin-bottom: 2px; }

#wallet-repair li .command { width: 140px; display: inline-block; margin-right: 20px; margin-left: 20px; vertical-align: middle; }

#wallet-repair li .desc { display: inline-block; }

.transaction-link { color: #2b2c2d; cursor: pointer; }

.transaction-link:hover { color: #860000; cursor: pointer; }

.bet-stake { color: white; }

.bet-details { padding: 2%; }

.bet-slip-options button { background-color: #B40101; }

.bet-returns span { font-size: .9em; color: white; }

.selection { margin-top: 5px; font-size: 1em; color: white; }

.clear-bet .icon-delete { font-weight: bold; color: #B40101; font-size: 20px; }

.clear-bet > .icon-delete:hover { color: white; cursor: pointer; }

.empty-slip-message { padding: 10px; color: white; }

.dropdown-trigger { margin-top: 3px; }

.dropdown-content { width: max-content !important; height: auto !important; }

#settings-dropdown li { padding: 0px; }

.second-nav li { list-style: none; display: block; }

.second-nav ul li button { background-color: #B40101; border: none; color: white; font-weight: normal; text-transform: uppercase; cursor: pointer; width: 100%; height: 50px; font-size: 18px; }

.router-link { color: #860000; }

.btn:active { background-color: #2b2c2d; }

.second-nav ul li button:hover { background-color: #860000; }

.second-nav ul li button:active { background-color: #2b2c2d; }

.second-nav ul li button:visited { background-color: #2b2c2d; }

.fade-enter-active, .fade-leave-active { transition-duration: 0.3s; transition-property: opacity; transition-timing-function: ease; }

.inset-top { width: 65%; margin-left: auto; margin-right: auto; }

.inset-top div { background-color: #1D1D1E; height: 18px; -moz-border-radius: 10px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }

.shadow { -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12); -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12); box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.12); }

.bg-gradient { background: -webkit-linear-gradient(to left bottom, #2b2c2d, #191919); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(to left bottom, #2b2c2d, #191919); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(to left bottom, #2b2c2d, #191919); /* For Firefox 3.6 to 15 */ background: linear-gradient(to left bottom, #2b2c2d, #191919); /* Standard syntax */ }

.inner-circle { display: inline-block; /* add this */ width: 65px; height: 65px; border-radius: 50%; border-style: solid; border-width: 3px; border-color: #860000; background-color: rgba(0, 0, 0, 0); }

.inner-circle:hover { border-color: #B40101; }

.circle-icon { float: left; width: 63px; margin: 18px; }

.circle-icon:hover { cursor: pointer; transform: scale(1.05); }

.circle-icon-link { font-size: 1.5em; color: #B40101; }

.circle-icon-link i.far { font-size: 1.2em; border-radius: 60px; padding: 17px; margin-top: -2px; color: grey; }

.circle-icon-link i.fas { font-size: 1.2em; border-radius: 60px; padding: 17px; color: grey; }

.circle-icon-link i.far:hover, .circle-icon-link i.fas:hover { color: white; }

.fade-enter, .fade-leave-active { opacity: 0; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }

.pull-right { float: right; }

.pull-left { float: left; }

.clear { clear: both; }

.fade-enter-active, .fade-leave-active { transition-duration: 0.3s; transition-property: opacity; transition-timing-function: ease; }

.fade-enter, .fade-leave-active { opacity: 0; }

.side-nav li { width: 100%; }

.side-nav li div i { padding-top: 16px; font-size: 23px; }

.side-nav li .parent a { padding: 0px; }

.modal-open { overflow-y: auto; }

.team-font { font-size: 1.2em; color: #2b2c2d; }

.toast-error { color: #B40101; background-color: #f2dede; border-color: #ebccd1; }

.toast-error > .toast-bold { font-weight: bold; color: #a94442; }

.toast-error > .toast-text { color: #a94442; }

.toast-error > .toast-action span { color: #a94442; }

.toast__bold-font { font-weight: bold; }

.form-error { color: #B40101; }

.wagerr-red { color: #B40101; }

.wagerr-white { color: #fff; }

.wagerr-red-bg { background-color: #B40101; }

.wagerr-red-bg:hover { background-color: #B40101; }

.modal-content { padding: 0; padding-left: 20px; padding-right: 20px; }

.modal .modal-header { color: #B40101; }

.modal .modal-header, .modal .modal-text { padding-left: 10px; padding-right: 10px; }

.modal > form > .modal-footer { padding-left: 35px; padding-right: 35px; }

.modal-content { color: white; }

.dropdown-content { background-color: #2b2c2d; }

.dropdown-content li a { color: white; }

.dropdown-content li a i { color: #B40101; font-size: 1.3em; }

.dropdown-content li:hover { background-color: rgba(0, 0, 0, 0.1); }

.tabs .indicator { border-bottom: 1px solid #B40101; background-color: transparent; }

.input-field > .active { color: #B40101 !important; }

.input-field .prefix { font-size: 20px !important; margin-top: 10px !important; color: #860000 !important; }

.input-field input { color: #fff; }

.input-field input:focus { color: #fff; }

.input-field .prefix { font-size: 20px; margin-top: 10px; color: #860000; }

.input-field label { color: white; font-size: 1.1em; font-weight: bold; }

.input-field input:not([type]):focus:not([readonly]), .input-field input[type=text]:not(.browser-default):focus:not([readonly]), .input-field input[type=password]:not(.browser-default):focus:not([readonly]), .input-field input[type=email]:not(.browser-default):focus:not([readonly]), .input-field input[type=url]:not(.browser-default):focus:not([readonly]), .input-field input[type=time]:not(.browser-default):focus:not([readonly]), .input-field input[type=date]:not(.browser-default):focus:not([readonly]), .input-field input[type=datetime]:not(.browser-default):focus:not([readonly]), .input-field input[type=datetime-local]:not(.browser-default):focus:not([readonly]), .input-field input[type=tel]:not(.browser-default):focus:not([readonly]), .input-field input[type=number]:not(.browser-default):focus:not([readonly]), .input-field input[type=search]:not(.browser-default):focus:not([readonly]), .input-field textarea.materialize-textarea:focus:not([readonly]) { color: white; border-bottom: 1px solid #B40101; -webkit-box-shadow: 0 1px 0 0 #B40101; box-shadow: 0 1px 0 0 #B40101; }

.input-field .prefix { font-size: 20px; margin-top: 10px; color: #860000; }

/* Time loader animation */
@-moz-keyframes timer-loader { 0% { -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes timer-loader { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes timer-loader { 0% { -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.timer-loader:not(:required) { padding: 0; margin: -10px; transform: scale(0.6); border: 6px solid orangered; -moz-border-radius: 24px; -webkit-border-radius: 24px; border-radius: 24px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; overflow: hidden; position: relative; text-indent: -9999px; width: 48px; height: 48px; }

.timer-loader:not(:required)::before { -moz-animation: timer-loader 1250ms infinite linear; -webkit-animation: timer-loader 1250ms infinite linear; animation: timer-loader 1250ms infinite linear; -moz-transform-origin: 3px 3px; -ms-transform-origin: 3px 3px; -webkit-transform-origin: 3px 3px; transform-origin: 3px 3px; background: orangered; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; content: ''; display: block; position: absolute; width: 6px; height: 19.2px; left: 15px; top: 15px; }

.timer-loader:not(:required)::after { -moz-animation: timer-loader 15000ms infinite linear; -webkit-animation: timer-loader 15000ms infinite linear; animation: timer-loader 15000ms infinite linear; -moz-transform-origin: 3px 3px; -ms-transform-origin: 3px 3px; -webkit-transform-origin: 3px 3px; transform-origin: 3px 3px; background: orangered; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; content: ''; display: block; position: absolute; width: 6px; height: 16px; left: 15px; top: 15px; }

/* Transactions List */
.no-transactions p { font-size: 1.5em; }

.no-transactions .fa-list-alt { color: #860000; font-size: 10em; }

.invalid { font-size: 1.1em; color: #860000; }

tbody tr { font-size: 1.1em; }

.confirmations { padding: 15px 10px 10px 10px; font-size: 2.1em; }

.confirmation-conflicted { color: #B40101; }

.confirmation-success { color: green; }

.confirmation-pending { color: orangered; }

.transaction-list-link { color: #2b2c2d; cursor: pointer; font-size: 1.5em; padding: 17px; }

.transaction-list-link:hover { color: #860000; cursor: pointer; }

/*# sourceMappingURL=main.css.map */