<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">

        <title>Wagerr Wallet</title>

        <!-- External Font/Icon libraries -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!-- External CSS libraries -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <% if (htmlWebpackPlugin.options.nodeModules) { %>

            <!-- Add `node_modules/` to global paths so `require` works properly in development -->

            <script>

                require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')

            </script>

        <% } %>

        <base href="">

    </head>

    <body>

        <div id="app"></div>

        <!-- Set `__static` path to static files in production -->
        <% if (!process.browser) { %>

            <script>

                if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')

            </script>

        <% } %>

        <!-- webpack builds are automatically injected -->

        <!-- External JS libraries -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <% if (process.env.NODE_ENV === 'development') { %>
            <script type="text/javascript" src="https://wagerr.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-5gfs20/b/42/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-UK&collectorId=f9c47ab8"></script>
        <% } %>
    </body>

</html>
