<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">

        <title>Wagerr Wallet</title>

        <!-- External Font/Icon libraries -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <!-- External CSS libraries -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <% if (htmlWebpackPlugin.options.nodeModules) { %>

            <!-- Add `node_modules/` to global paths so `require` works properly in development -->

            <script>

                require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')

            </script>

        <% } %>

        <base href="">

    </head>

    <body>

        <div id="app"></div>

        <!-- Set `__static` path to static files in production -->
        <% if (!process.browser) { %>

            <script>

                if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')

            </script>

        <% } %>

        <!-- webpack builds are automatically injected -->

        <!-- External JS libraries -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>

</html>
